<form>
    <div class="form-group">
        <label class="bmd-label-floating">Start date:</label>
        <input class="form-control" type="date" ng-model="$ctrl.startDate" ng-change="$ctrl.change()" />
            
    </div>
    <div class="form-group">
        <label class="bmd-label-floating">Number of days:</label>
        <input class="form-control" type="number" ng-model="$ctrl.countDays" ng-change="$ctrl.change()" />
    </div>
    <div class="form-group">
        <label class="bmd-label-floating">Country Code:</label>
        <input class="form-control" type="text" ng-model="$ctrl.country" ng-change="$ctrl.change()" />
    </div>
    
</form>
